<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League Console - <%= league_name %></title>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/leagueActivity.css">
</head>
<body>

    <!-- NAVBAR -->

    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo">
                <ion-icon name="body-outline"></ion-icon>
                Volunteer League
            </a>
        </div>
    </nav>



    <div class="container">

        <!-- SIDEBAR -->

        <aside>
            <div class="sidebar">
                <a href="/league/<%= leagueID %>">
                    <ion-icon name="grid"></ion-icon>
                    <h3>Home</h3>
                </a>
                <a href="/league/discover/<%= leagueID %>">
                    <ion-icon name="search"></ion-icon>
                    <h3>Discover</h3>
                </a>
                <a href="/league/game/<%= leagueID %>">
                    <ion-icon name="game-controller"></ion-icon>
                    <h3>Quest</h3>
                </a>
                <a href="/league/members/<%= leagueID %>">
                    <ion-icon name="people"></ion-icon>
                    <h3>Members</h3>
                </a>
                <a href="/league/activity/<%= leagueID %>">
                    <ion-icon name="analytics-outline"></ion-icon>
                    <h3>Activity</h3>
                </a>
                <a href="" id=""> <!-- ADD DYNAMICNESS HERE FOR IF USER IS OWNER OR NOT -->
                    <ion-icon name="cog"></ion-icon>
                    <h3>League Settings</h3>
                </a>
                <a href="/league/ownerdashboard/<%= leagueID %>" id="" class="active"> <!-- ADD DYNAMICNESS HERE FOR IF USER IS OWNER OR NOT -->
                    <ion-icon name="checkmark"></ion-icon>
                    <h3>Approve Activity</h3>
                </a>
                <a href="/">
                    <ion-icon name="log-out"></ion-icon>
                    <h3>Personal Dashboard</h3>
                </a>
            </div>
        </aside>

        <main>
            <h1>League Manager Console</h1>
            <% activity.forEach(activity => { %>
                <div class="activity-card">
                  <h3><%= activity.activity %></h3>
                  <p><%= activity.formattedTimestamp %></p>
          
                  <% if (activity.status === 'pending') { %>
                    <div class="buttons">
                        <button onclick="getActivityData('<%= activity.activityID %>', 'approved', '<%= activity.activity %>', this.parentElement)" id="approve">Approve</button>
                        <button onclick="getActivityData('<%= activity.activityID %>', 'vetoed', '', this.parentElement)" id="veto">Veto</button>
                    </div>
                <% } %>
                </div>
              <% }); %>
          </main>
    </div>

    <script>
        // Define a function to handle approval

        function getActivityData(activityID, status, activity, buttonsDiv) {
            const formData = {
                activityID: activityID,
                action: status,
                activity: activity
            };

            buttonsDiv.style.display = 'none';
    
            // Make a POST request using Fetch API
            fetch('/league/ownerdashboard/<%= leagueID %>', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
    
                // Handle the response data here
                // If the request was successful, hide the buttons div
                if (data.success) {
                    
                }
            })
            .catch(error => {
                console.error('Error:', error);
                // Handle errors here
            });
        }
    </script>    


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>